USE [TravelAgency]
GO
/****** Object:  Table [dbo].[TourInstance]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourInstance](
	[TourInstanceID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[TourDate] [date] NOT NULL,
	[GuideID] [int] NOT NULL,
	[TourPriceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourInstanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[TourID] [int] IDENTITY(1,1) NOT NULL,
	[TourName] [nvarchar](100) NOT NULL,
	[TourDescription] [nvarchar](max) NULL,
	[TourDuration] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vTourDetails]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vTourDetails] AS
SELECT 
    t.TourID,
    t.TourName,
    t.TourDescription,
    t.TourDuration,
    COUNT(ti.TourInstanceID) AS InstanceCount
FROM 
    dbo.Tour t
LEFT JOIN 
    dbo.TourInstance ti ON t.TourID = ti.TourID
GROUP BY 
    t.TourID, t.TourName, t.TourDescription, t.TourDuration;
GO
/****** Object:  Table [dbo].[TourPrice]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourPrice](
	[TourPriceID] [int] IDENTITY(1,1) NOT NULL,
	[TourID] [int] NOT NULL,
	[TourTiming] [nvarchar](20) NOT NULL,
	[TourAgeGroup] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TourPriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guide]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guide](
	[GuideID] [int] IDENTITY(1,1) NOT NULL,
	[GuideName] [nvarchar](100) NOT NULL,
	[GuidePhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuideID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vUpcomingTours]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vUpcomingTours] AS
SELECT 
    ti.TourInstanceID,
    t.TourName,
    ti.TourDate,
    tp.Price,
    g.GuideName
FROM 
    dbo.TourInstance ti
INNER JOIN 
    dbo.Tour t ON ti.TourID = t.TourID
LEFT JOIN 
    dbo.Guide g ON ti.GuideID = g.GuideID
INNER JOIN 
    dbo.TourPrice tp ON t.TourID = tp.TourID
WHERE 
    ti.TourDate > GETDATE();

GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[TourInstanceID] [int] NOT NULL,
	[PeopleQty] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](100) NOT NULL,
	[ClientPhone] [nvarchar](20) NULL,
	[ClientEmail] [nvarchar](100) NOT NULL,
	[ClientDOB] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[PaymentTypeID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [date] NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vPaymentsReport]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vPaymentsReport] AS
SELECT 
    p.PaymentID,
    c.ClientName,
    t.TourName,
    ti.TourDate,
    p.Amount
FROM 
    dbo.Payment p
INNER JOIN 
    dbo.Reservation r ON p.ReservationID = r.ReservationID
INNER JOIN 
    dbo.Client c ON r.ClientID = c.ClientID
INNER JOIN 
    dbo.TourInstance ti ON r.TourInstanceID = ti.TourInstanceID
INNER JOIN 
    dbo.Tour t ON ti.TourID = t.TourID
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 05/01/2025 14:50:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeDescription] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [ClientName], [ClientPhone], [ClientEmail], [ClientDOB]) VALUES (1, N'Conor Smith', N'353837659845', N'conor.smith@gmail.com', CAST(N'1955-06-06' AS Date))
INSERT [dbo].[Client] ([ClientID], [ClientName], [ClientPhone], [ClientEmail], [ClientDOB]) VALUES (2, N'Ross Murphy', N'353897548592', N'ross.murphy@yahoo.com', CAST(N'1994-08-01' AS Date))
INSERT [dbo].[Client] ([ClientID], [ClientName], [ClientPhone], [ClientEmail], [ClientDOB]) VALUES (3, N'Kieran Byrne', N'353878952759', N'kieran.byrne@hotmail.com', CAST(N'1990-10-31' AS Date))
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Guide] ON 

INSERT [dbo].[Guide] ([GuideID], [GuideName], [GuidePhone]) VALUES (1, N'Thiago Braz', N'353837890678')
INSERT [dbo].[Guide] ([GuideID], [GuideName], [GuidePhone]) VALUES (2, N'Fatima Luz', N'353838903542')
INSERT [dbo].[Guide] ([GuideID], [GuideName], [GuidePhone]) VALUES (3, N'David Hennessy', N'353897643620')
SET IDENTITY_INSERT [dbo].[Guide] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [ReservationID], [PaymentTypeID], [Amount], [PaymentDate], [PaymentStatus]) VALUES (1, 1, 2, CAST(150.00 AS Decimal(10, 2)), NULL, N'Pending')
INSERT [dbo].[Payment] ([PaymentID], [ReservationID], [PaymentTypeID], [Amount], [PaymentDate], [PaymentStatus]) VALUES (2, 2, 1, CAST(90.00 AS Decimal(10, 2)), CAST(N'2024-05-20' AS Date), N'Paid')
INSERT [dbo].[Payment] ([PaymentID], [ReservationID], [PaymentTypeID], [Amount], [PaymentDate], [PaymentStatus]) VALUES (3, 3, 4, CAST(65.00 AS Decimal(10, 2)), CAST(N'2024-10-10' AS Date), N'Paid')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PaymentTypeID], [PaymentTypeDescription]) VALUES (1, N'Credit Card')
INSERT [dbo].[PaymentType] ([PaymentTypeID], [PaymentTypeDescription]) VALUES (2, N'Debit Card')
INSERT [dbo].[PaymentType] ([PaymentTypeID], [PaymentTypeDescription]) VALUES (3, N'Cash')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([ReservationID], [ClientID], [TourInstanceID], [PeopleQty], [ReservationDate]) VALUES (1, 2, 1, 3, CAST(N'2024-08-15' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [ClientID], [TourInstanceID], [PeopleQty], [ReservationDate]) VALUES (2, 1, 6, 2, CAST(N'2024-05-20' AS Date))
INSERT [dbo].[Reservation] ([ReservationID], [ClientID], [TourInstanceID], [PeopleQty], [ReservationDate]) VALUES (3, 5, 4, 1, CAST(N'2024-10-10' AS Date))
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[Tour] ON 

INSERT [dbo].[Tour] ([TourID], [TourName], [TourDescription], [TourDuration]) VALUES (1, N'Wicklow Mountains', N'Explore the Heart of Ireland''s Ancient East', N'8h')
INSERT [dbo].[Tour] ([TourID], [TourName], [TourDescription], [TourDuration]) VALUES (2, N'Cliffs of Moher', N'Experience the Majestic Cliffs of Moher on a Stunning Coastal Adventure', N'11h')
INSERT [dbo].[Tour] ([TourID], [TourName], [TourDescription], [TourDuration]) VALUES (3, N'Giant''s Causeway', N'Discover the Legendary Giant''s Causeway and Northern Ireland’s Natural Wonders', N'12h')
SET IDENTITY_INSERT [dbo].[Tour] OFF
GO
SET IDENTITY_INSERT [dbo].[TourInstance] ON 

INSERT [dbo].[TourInstance] ([TourInstanceID], [TourID], [TourDate], [GuideID], [TourPriceID]) VALUES (1, 1, CAST(N'2025-04-24' AS Date), 1, 1)
INSERT [dbo].[TourInstance] ([TourInstanceID], [TourID], [TourDate], [GuideID], [TourPriceID]) VALUES (2, 2, CAST(N'2025-05-15' AS Date), 2, 10)
INSERT [dbo].[TourInstance] ([TourInstanceID], [TourID], [TourDate], [GuideID], [TourPriceID]) VALUES (3, 2, CAST(N'2025-06-28' AS Date), 3, 8)
SET IDENTITY_INSERT [dbo].[TourInstance] OFF
GO
SET IDENTITY_INSERT [dbo].[TourPrice] ON 

INSERT [dbo].[TourPrice] ([TourPriceID], [TourID], [TourTiming], [TourAgeGroup], [Price]) VALUES (1, 1, N'Weekday', N'Adult', CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[TourPrice] ([TourPriceID], [TourID], [TourTiming], [TourAgeGroup], [Price]) VALUES (2, 1, N'Weekday', N'Child', CAST(40.00 AS Decimal(10, 2)))
INSERT [dbo].[TourPrice] ([TourPriceID], [TourID], [TourTiming], [TourAgeGroup], [Price]) VALUES (3, 1, N'Weekday', N'Senior', CAST(45.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TourPrice] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Index_Tour_TourName]    Script Date: 05/01/2025 14:50:36 ******/
CREATE NONCLUSTERED INDEX [Index_Tour_TourName] ON [dbo].[Tour]
(
	[TourName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Index_TourInstance_TourDate]    Script Date: 05/01/2025 14:50:36 ******/
CREATE NONCLUSTERED INDEX [Index_TourInstance_TourDate] ON [dbo].[TourInstance]
(
	[TourDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [df_PaymentStatus]  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [df_ReservationDate]  DEFAULT (getdate()) FOR [ReservationDate]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([PaymentTypeID])
REFERENCES [dbo].[PaymentType] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([TourInstanceID])
REFERENCES [dbo].[TourInstance] ([TourInstanceID])
GO
ALTER TABLE [dbo].[TourInstance]  WITH CHECK ADD FOREIGN KEY([GuideID])
REFERENCES [dbo].[Guide] ([GuideID])
GO
ALTER TABLE [dbo].[TourInstance]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([TourID])
GO
ALTER TABLE [dbo].[TourInstance]  WITH CHECK ADD FOREIGN KEY([TourPriceID])
REFERENCES [dbo].[TourPrice] ([TourPriceID])
GO
ALTER TABLE [dbo].[TourPrice]  WITH CHECK ADD FOREIGN KEY([TourID])
REFERENCES [dbo].[Tour] ([TourID])
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [chk_ClientDOB] CHECK  (([ClientDOB]<=getdate()))
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [chk_ClientDOB]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [chk_Amount] CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [chk_Amount]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [chk_PaymentStatus] CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Pending' OR [PaymentStatus]='Paid'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [chk_PaymentStatus]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [chk_PeopleQty] CHECK  (([PeopleQty]>(0)))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [chk_PeopleQty]
GO
ALTER TABLE [dbo].[TourInstance]  WITH CHECK ADD  CONSTRAINT [chk_TourDate] CHECK  (([TourDate]>=getdate()))
GO
ALTER TABLE [dbo].[TourInstance] CHECK CONSTRAINT [chk_TourDate]
GO
ALTER TABLE [dbo].[TourPrice]  WITH CHECK ADD  CONSTRAINT [chk_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[TourPrice] CHECK CONSTRAINT [chk_Price]
GO
